
@import url('https://fonts.googleapis.com/css?family=Changa:200,300,400,500,600,700,800&amp;subset=arabic,latin-ex');

html {
    font-family: 'Changa', serif;
    background-color: #F5F8FA
}
h1,h2,h3,h4,h5,h6{
    font-family:'Changa', sans-serif;
    color:#202020;
}
p{
    font-family:'Changa', sans-serif;
    color:#777777;
    line-height:26px;
    font-size:14px;
    letter-spacing:0.3px;
}
ul li ,ul li a,
ol li,ol li a{
    font-family:'Changa', sans-serif;
    color:#666666;
    font-size:14px;
    line-height:26px;
}
.navigate a {
    text-decoration: none
}
.clearfix {
    clear: both
}
/* Toolbar */
.toolbar .socalMedie ul li{

    float: left

}
.ultimat {
    background:rgba(255, 255, 255, 0.31)
}

.dd {
    background: #3498db
}
/* Toolbar */

/* Index Main Content */
.marquee .news {
    background-color:#F5F5F5;
    margin:25px 0;
    padding:15px
}

.marquee .searchNav {
    padding:8px;
    background: #F8FAFC
}
.navigate a {
    text-decoration: none
}
.navigate .uk-card-hover:hover{

    cursor: pointer
}

.contentIndex {
    margin: 90px 0
}
.contentIndex .cardContent .tweets {
    
    max-height: 600px;
    overflow: scroll
}
.singleTopic .heading,
.contentIndex .heading {
    background-color:#1E87F0
}
.singleTopic .heading h4,
.contentIndex .heading h4{
    color:#EEEEEE;
    padding:10px 9px 10px 0
}
/* Index Main Content */

/* Single Topic */
.singleTopic {
    margin:40px 0
}
.contentBody  .uk-list li a{
    text-decoration: none;
    
}
/* Single Topic */